version: "3"

services:
  concourse-db:
    image: postgres
    environment:
      POSTGRES_DB: concourse
      POSTGRES_USER: concourse
      POSTGRES_PASSWORD: concourse

  concourse:
    image: concourse/concourse
    command: quickstart
    ports:
      - "8080:8080"
    depends_on:
      - concourse-db
